<div class="row">
   <div class="large-12 columns;" align="center">
        <ul data-orbit data-options="pause_on_hover:false; timer_speed:2500">
        <li><img src="https://lh3.googleusercontent.com/fmSTkCS7mAN7gQw3RxNxuOv1IfY1khkCgkIBQ4kV_Z8=w706-h350-no" /></li>
        <li><img src="https://lh3.googleusercontent.com/gJNKuSM3dVi7DoYEADy7fR8Q1_Rt1u6SQsy2H5as1EM=w706-h350-no" /></li>
        <li><img src="https://lh3.googleusercontent.com/8n0sBsTtvb8J1JxhTfSCTLtfMf5gVFYUWDGCnWS3OR8=w706-h350-no" /></li>
        <li><img src="https://lh3.googleusercontent.com/kUzT4GXmZtqVRR9xYoMR7nC6F5f5YmX32XTlZ0rqGoM=w706-h350-no" /></li>
          </ul>       
        
        <hr/>
        </div>
      </div>
      
     
     <div class="row">
      <h1 align="center">Have a taste of our pizza </h1>
      <% @pizzas.each do |pizza| %>
        <div class="large-4 columns end">
          <h4> <%= pizza.name %> </h4>
          <%= image_tag(pizza.picture_url) %>
          <%= simple_format(pizza.details) %>
        </div>
      <% end %>
        
      
    </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     